<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css" />
  <link rel="stylesheet" href="../public/NextLevelCareers.css" />
  <title>Careers</title>
</head>

<body>
  <header class="top-navbar">
    <div class="logo">
      <!-- changed social media icons to devicons to see how the look -->
      <a href="https://www.facebook.com/NextLevelImpacts" target="_blank">
        <img src="https://i.imgur.com/rHJit0V.png" width="25" height="25" alt="Facebook Icon" />
      </a>
      <a href="https://www.linkedin.com/company/next-level-impacts/" target="_blank">
        <img src="https://i.imgur.com/tvDlPAG.png" width="25" height="25" alt="LinkedIn Icon" />
      </a>
    </div>

    <!-- changed links to nav with a list to create responsive dropdown -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav class="menu">
      <ul>
        <li><a href="/candidates">For Candidates</a></li>
        <li><a href="/employers">For Employers</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="./NextLevelCareers.html">Careers</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
          <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <g transform="scale(5.12,5.12)">
              <path
                d="M5,8c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,23c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,38c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175z">
              </path>
            </g>
          </g>
        </svg>
      </span>
    </label>
  </header>

  <div class="main-navbar">
    <div class="mainLogo">
      <a href="./NextLevelImpacts.html">
        <img src="https://www.nextlevelimpacts.com/wp-content/uploads/2021/03/next-level-logo.png"
          alt="Next Level Impacts Logo" /></a>
    </div>
    <!-- changed to nav with ul for easier responsiveness  -->
    <nav class="menuMain">
      <ul>
        <li><a href="/why">Why Next Level Impacts</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="./nextLevelAbout.html">About</a></li>
      </ul>
    </nav>
  </div>

  <div class="header">
    <div class="overlayHeader"></div>
    <div class="header-content">
      <h1 class="header-title">Careers</h1>
      <p>
        . Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" class="rounded-button">View Job
        Postings</a>
    </div>
  </div>


  <div class="content">
    <a href="./diagnostics/nextLevelDiagnostics.html">
      <h2 class="industry-headings">Diagnostics</h2>
    </a>

    <div class="content-images">
      <div class="image-container-career">
        <a href="./Diagnostics/nextLevelWomen.html"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="./Diagnostics/nextLevelWomen.html">
              Women's Health
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="./Diagnostics/nextLevelGenetics.html"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="./Diagnostics/nextLevelGenetics.html">
              Genetics
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="./Diagnostics/nextLevelOncology.html"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="./Diagnostics/nextLevelOncology.html">
              Oncology
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="./Diagnostics/nextLevelAutoImmune.html"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="./Diagnostics/nextLevelAutoImmune.html">
              Autoimmune
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="./Diagnostics/nextLevelBioInformatics.html"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="./Diagnostics/nextLevelBioInformatics.html">
              Bioinformatics
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content blue">
    <h2 class="industry-headings">Medical Devices</h2>
    <div class="content-images">
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Vascular
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Cardiac
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Spine
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              CMF
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="/" target="_blank">
              Orthopedic
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <h2 class="industry-headings">Pharmaceutical Industry</h2>
    <div class="content-images">
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Oncology
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Women's Health
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Urology
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Psychiatry
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="/" target="_blank">
              Ophthamology
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <h2 class="industry-headings">Precision Medicine</h2>
    <div class="content-images">
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Oncology
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Women's health
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Urology
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="https://www.nextlevelimpacts.com/wp-content/plugins/bullhorn-oscp/#/" target="_blank">
              Psychiatry
            </a>
          </div>
        </div>
      </div>
      <div class="image-container-career">
        <a href="/"><img class="career-img"
            src="https://t3.ftcdn.net/jpg/04/40/29/94/360_F_440299419_s4b12RfNDJvpplheVDmKdhFGJiHlAYNs.jpg"
            alt="Image Description" /></a>
        <div class="overlay">
          <div class="overlay-text">
            <a class="text" href="/" target="_blank">
              Opthalmology
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-bg">
      <div class="footer-container">
        <div class="footer-right">
          <a href="/">
            <img class="footer-logo" src="../public/nextLevelLogo.png" alt="Next Level Impacts Logo" />
          </a>
          <div class="footer-address">
            <p class="address">777 South Harbour Island Blvd. Suite 400
              Tampa, Fl 33602</p>
            <p class="phone">813-678-2021</p>
          </div>
        </div>
        <div class="footer-section">
          <div class="footer-top">
            <div class="footer-industries">
              <h3>Industries we support</h3>
              <a href="./Diagnostics/nextLevelDiagnostics.html"><p>Diagnostics</p></a>
              <a href="./Diagnostics/nextLevelDiagnostics.html"><p>Medical Devices</p></a>
              <a href="./Diagnostics/nextLevelDiagnostics.html"><p>Pharmaceutical Industry</p></a>
              <a href="./Diagnostics/nextLevelDiagnostics.html"><p>Precision Medicine</p></a>
            </div>
            <div class="site-map">
              <ul class="footer-links">
                <li>
                  <a href="./NextLevelImpacts.html" class="footer-link">Home</a>
                </li>
                <li>
                  <a href="./nextLevelAbout.html" class="footer-link">About us</a>
                </li>
                <li>
                  <a href="./NextLevelCareers.html" class="footer-link">Careers</a>
                </li>
              </ul>
              <div class="footer-socials">
                <a class="footer-social-icon" href="https://www.facebook.com/NextLevelImpacts" target="_blank">
                  <img src="https://i.imgur.com/rHJit0V.png" width="25" height="25" alt="Facebook Icon" />
                </a>
                <a class="footer-social-icon" href="https://www.linkedin.com/company/next-level-impacts/"
                  target="_blank">
                  <img src="https://i.imgur.com/tvDlPAG.png" width="25" height="25" alt="LinkedIn Icon" />
                </a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </footer>

</body>

</html>